{% if ready %}
<div class="block max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mt-16" id="{{ _id }}">
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-500 dark:text-gray-400">{{ name }}</h5>
  <dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
    {% for item in [
      {"label": "Valor Total", "value": describe.sum},
      {"label": "Valor Médio", "value": describe.mean},
      {"label": "Valor Máximo", "value": describe.max},
      {"label": "Valor Mínimo", "value": describe.min},
      {"label": "Qtn. CNPJ", "value": describe.count}
    ] %}
    <div class="flex flex-col pt-{{ 3 if loop.first else 0 }}">
      <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">{{ item.label }}</dt>
      <dd class="text-lg font-semibold">{{ item.value }}</dd>
    </div>
    {% endfor %}
  </dl>
</div>
{% endif %}