{% if ready %}
<table
  class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 animate__animated animate__fadeIn"
  id={{_id}} sortable="true">
  <caption class="text-5xl font-extrabold dark:text-white p-4">{{ name }} </caption>
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr class="text-center">
      {% for col in columns %}
      <th scope="col" class="px-6 py-3">
        {{ col }}
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for i in range(len) %}
    <tr
      class="text-center bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
      {% for key, values in table.items() %}
          <td class="px-6 py-4">
            {{ values[i] }}
          </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endif %}